name: test foo

on:
  schedule:
    # Runs every day at noon (PST)
    # cron time is in UTC
    - cron: "*/5 * * * *"
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-foo:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for image deploys
        uses: tomchv/wait-my-workflow@15c168cfa0cf8d5234974e0047908173d3ab39a1  # v1.1
        id: wait-image-deploys
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: deploy-images
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          intervalSeconds: 15
      - uses: actions/checkout@v2
      - name: Check for Modified Depencency Files
        id: diff-check
        run: |
          git fetch origin develop --depth=1
          key_files='requirements.txt\|setup.py\|Dockerfile\|docker/Dockerfile\|docker/entrypoint.sh'
          echo ::set-output name=modified::$(if git diff --name-only --raw origin/develop $GITHUB_SHA | grep -q $key_files; then echo "true"; else echo "false"; fi)
      - name: Pull Development Image
        if: steps.diff-check.outputs.modified == 'false'
        run: echo "No key files modified"
      - name: Key Files Modified - Building New Image
        if: steps.diff-check.outputs.modified == 'true'
        run: echo "Key files modified"
      - name: Run Cypress With Retries on Failures
        uses: nick-invision/retry@7c68161adf97a48beb850a595b8784ec57a98cbb  # v2.4.0, but using commit hash for security.
        with:
          command: |
            record=$(if [ ${{github.event_name == 'schedule'}} ]; then echo "${{secrets.RECORD_KEY}}"; else echo ""; fi)
            ls $(echo $record)
          max_attempts: 3
          on_retry_command: ls
          retry_wait_seconds: 30
          timeout_minutes: 30
