name: test foo

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test-foo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Wait for build to succeed
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: wait-for-build
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: deploy
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Check for Modified Depencency Files
        id: diff-check
        run: |
          git fetch origin develop --depth=1
          key_files='requirements.txt\|setup.py\|Dockerfile\|docker/Dockerfile'
          echo ::set-output name=modified::$(if git diff --name-only --raw origin/develop $GITHUB_SHA | grep -q $key_files; then echo "true"; else echo "false"; fi)
      - name: Pull Development Image
        if: steps.diff-check.outputs.modified == 'false'
        run: echo "No key files modified"
      - name: Key Files Modified - Building New Image
        if: steps.diff-check.outputs.modified == 'true'
        run: echo "Key files modified"
